nav {
  background-color: #747472;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: fixed;
  height: 9vh;
  z-index: 10;
}

@media screen and (min-width: 801px) {
  .navContentMobile {
    display: none !important;
  }
  .carousel {
    height: 600px !important;
    z-index: 1 !important;
  }
  .carousel img {
    max-height: 91vh;
    z-index: 1 !important;
  }
}

@media screen and (max-width: 800px) {
  #siteTitle {
    font-size: 17px;
  }
  .navContentNonMobile {
    display: none !important;
  }
  .navContentMobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .carousel {
    height: 600px !important;
    z-index: 1 !important;
  }
  .carousel-inner {
    height: 600px !important;
  }
  .carousel-inner img {
    height: 600px !important;
  }
}

.mobileLinks {
  padding-top: 10vh;
  background-color: #747472;
  width: 100%;
  display: none;
  height: 0px;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobileLinks .mainMobileLink {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

.mobileLinks .mainMobileSubLinks {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.mobileLinks .mainMobileSubLinks a {
  width: 100%;
  color: white;
  text-decoration: none;
}

.mobileLinks.opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.navContent {
  padding: 0px 5px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navContent a {
  padding: 0px 5px 0px 5px;
  color: white;
  padding: 0px 10px 0px 5px;
  text-decoration: none;
  height: auto;
  text-align: center;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
  text-transform: uppercase;
}

.navContent a:hover {
  color: #e6e6e6;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0px 5px 0px 5px;
}

.dropdown-content {
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  opacity: 0;
  top: 50%;
  left: -50%;
  z-index: 997;
  width: 150%;
  background-color: gray;
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
}

.dropdown-content a {
  color: white;
  display: block;
  background-color: #747472;
  padding: 10px;
  margin: 10px;
}

.dropdown-content a:hover {
  color: #e6e6e6;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
  opacity: 1;
  z-index: 997;
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
}

.mainBody {
  padding-top: 12vh;
  min-height: 100vh;
  z-index: 0;
  background-color: silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainBody.smaller {
  padding-top: 2vh !important;
}

.mainBodyIndex {
  padding-top: 9vh;
  min-height: 100vh;
  z-index: 0;
  background-color: white;
}

.mainBodyIndex.smaller {
  padding-top: 0vh !important;
}

.currentLink {
  color: #e6e6e6 !important;
}

@media screen and (max-width: 800px) {
  .trip {
    width: 100%;
    background-color: #747472;
    color: white;
    padding: 5px;
  }
  .tripImg {
    width: 180px;
    height: 180px;
  }
  .AswIMG {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 75px;
    width: 75px;
    opacity: 75%;
    z-index: 999 !important;
  }
}

@media screen and (min-width: 801px) {
  .trip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 95%;
    height: auto;
    background-color: #747472;
    color: white;
    padding: 10px;
    margin: 10px 0px 10px 0px;
  }
  .tripImg {
    max-width: 475px;
    max-height: 475px;
    padding: 10px;
  }
  .AswIMG {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100px;
    opacity: 75%;
    z-index: 999 !important;
  }
}

.carousel-caption {
  color: white !important;
  background-color: gray;
  border: 2px solid white;
  color: white !important;
  border-radius: 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.carousel-caption:hover {
  background-color: white !important;
  color: black !important;
}

.link {
  color: #e1c699;
}

.link:hover {
  color: #d5b072;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 4rem !important;
  width: 4rem !important;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 998 !important;
}
/*# sourceMappingURL=index.css.map */